<fieldset id="category-scores" class="form-group margin-top-large">
  <legend>Your category preferences:</legend>
  <table>
    <tbody>
    <% category_scores.each do |category, score| %>
        <tr>
          <td><%= category.gsub(".", ".\u200B") %></td>
          <td>
            <input
              value="<%= score %>"
              type="number",
              name="category_score_<%= category %>"
              id="category_score_<%= category %>"
            >
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>
