<footer id="footer" class="paper container-lg margin-bottom-none">
  <small>
    <a href="https://github.com/fpsvogel/wikistumble">GitHub repo</a>. - Built with <a href="https://roda.jeremyevans.net/">Roda</a>, <a href="https://www.getpapercss.com/">PaperCSS</a>, and Wikimedia <a href="https://www.mediawiki.org/wiki/Wikimedia_REST_API">REST</a> and <a href="https://wikitech.wikimedia.org/wiki/Machine_Learning/LiftWing">LiftWing</a> APIs.
  </small>
</footer>
