html.dark body {
  background: #41403e;
}

legend {
  font-weight: bold;
}

fieldset.reaction {
  input {
    min-width: 2.7rem;
  }
}

/* Keep the footer at the bottom of the page. */

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#footer {
  margin-top: auto;
}
