html.dark body {
  background: #41403e;
}

h1 {
  margin-top: -1rem;
}

legend {
  font-weight: bold;
}

/* Make reaction buttons uniform in size. */
fieldset.reaction {
  input {
    min-width: 2.7rem;
  }
}

/* Make the category preferences table more compact. */
table {
  td {
    max-width: 40vw;
    padding-bottom: 0rem !important;

    &:first-child {
      padding-top: 0.3rem !important;
    }

    &:last-child {
      max-width: 20vw;
      padding-top: 0.2rem !important;

      input {
        max-width: 23vw;
      }
    }
  }

  input {
    max-height: 1.5rem;
    padding-top: 0.7rem;
  }
}

/* Keep the footer at the bottom of the page. */

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#footer {
  margin-top: auto;
}

/* Reduce horizontal spacing on small screens. */
@media only screen and (min-width: 481px) {
  td:first-child {
    max-width: 10rem;
  }
  td:last-child input {
    max-width: 5rem !important;
  }
}

@media only screen and (max-width: 992px) {
  body > .paper.container {
    margin-top: 0;
  }

  .container {
    width: 100%;
  }

  h1 {
    margin-top: 0.5rem;
    font-size: 48pt;
  }
  h2 {
    font-size: 36pt;
  }

  td:first-child {
    padding-left: 0;
  }
}
