<% content_for :title, "Wiki Stumble: Explore Wikipedia" %>

<h1 style="margin:0 0 1rem 0">Wiki Stumble</h1>

<%= partial "partials/article_form", locals: { article_type:, category_scores: } %>

<%= partial "partials/article", locals: article_contents %>
