<% content_for :title, "Wiki Stumble: Explore Wikipedia" %>

<h1 style="margin:-1rem 0 2rem 0">Wiki Stumble</h1>

<%= partial "partials/reaction_form" %>

<%= partial "partials/article", locals: article_contents %>

<%= partial "partials/preferences_form", locals: { article_type:, category_scores: } %>

