<% content_for :title, "Wiki Stumble: Explore Wikipedia" %>
<% content_for :theme, theme %>

<div class="row flex-edges">
  <h1>Wiki Stumble</h1>

  <% form method: :post, action: theme_path do |f| %>
    <fieldset id="theme-switcher" class="form-group">
      <label for="theme-input" class="paper-switch-tile">
        <input id="theme-input" name="dark-theme" type="checkbox">
        <div class="paper-switch-tile-card border">
          <div class="paper-switch-tile-card-front border">Dark</div>
          <div class="paper-switch-tile-card-back border background-primary" style="color:var(--muted-dark)">Light</div>
        </div>
      </label>
    </fieldset>

    <input id="submit-theme" type="submit" style="display:none">
  <% end %>
</div>

<%= partial "partials/flash" %>

<%= partial "partials/reaction_buttons" %>
<%= partial "partials/article", locals: article_contents %>
<%= partial "partials/preferences", locals: { article_type:, category_scores: } %>
