<footer id="footer" class="paper container-lg margin-bottom-none">
  <small>
    <a href="https://github.com/fpsvogel/wikistumble">GitHub repo</a>. - Built with <a href="https://www.bridgetownrb.com/">Bridgetown</a>, <a href="https://www.getpapercss.com/">PaperCSS</a>, and Wikimedia <a href="https://en.wikipedia.org/api/rest_v1/">REST</a> and <a href="https://ores.wikimedia.org/">ORES</a> APIs.
  </small>
</footer>
